@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


body {
  background-color: black;
  color: white;
}

.glitch{
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 700;
    transition: .25s;
}

.glitch::before,
.glitch::after{
    content: attr(data-text);

    position: absolute;
    inset: 0;

    opacity: 0;
    pointer-events: none;

    transition: .25s;
}

.glitch:hover::before{
    color: #ff6593;
    transform: translateX(-1px);
    opacity: 0.8;
}

.glitch:hover::after{
    color: #bef9ff;
    transform: translateX(1px);
    opacity: 0.8;
}

/* Other Glitch */
.glitch-hover {
  position: relative;
  transition: all 0.2s ease;
}

.glitch-hover::before,
.glitch-hover::after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 1rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
  pointer-events: none;
}

.glitch-hover::before {
  border: 1px solid #ff6593;
}

.glitch-hover::after {
  border: 1px solid #bef9ff;
}

.glitch-hover:hover::before {
  opacity: 0.8;
  transform: translate(-2px, -1px);
}

.glitch-hover:hover::after {
  opacity: 0.8;
  transform: translate(2px, 1px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}